<html>
    <header>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title> Register</title>
    </header>
    <body>
        <h3>Register Your Dog</h3>
        <form class="form-inline" action="show", method="post">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name">
            <label for="breed">Breed:</label>
            <input class="form-control" type="text" name="breed">
            <input class="btn btn-default" type='submit' value="register">
        </form>
        
        <%if(typeof(errors)!='undefined'){%>
            <%for (var x in errors){%>
                <p><%=errors[x].message%></p>
            <%}%>
        <%}%>

    </body>
</html>