<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2>Meet <%=dog.name%>!</h2>
        <h3>His breed is <%=dog.breed%></h3>
        <a href="/new"><button class="btn btn-default">Register another dog</button></a>
        <button class="btn btn-default"><a href="/update/<%= dog.id%>">Update</a></button>
    </body>
</html>